@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

html {
  scroll-behavior: smooth !important;
}
body {
  font-family: 'Poppins', sans-serif !important;
  position: relative;

}

.content {
  min-height: calc(100vh - 88px - 129.8px);
}

.bgimage {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("img/bg-new-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filler {
  background-color: #f7f7f7;

}

.technologies-bg {
  background: linear-gradient(-70deg, #f7f7f7 30%, rgba(0, 0, 0, 0) 80%),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("img/bg-new-tech.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.bgimage-1 {
  background: linear-gradient(70deg, #f7f7f7 35%, rgba(0, 0, 0, 0) 60%),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("img/bg-new-service.jpg");
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.bgimage-2 {
  background: linear-gradient(70deg, #f7f7f7 35%, rgba(0, 0, 0, 0) 60%),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("img/about.jpg");
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgimage-3 {
  background: linear-gradient(70deg, #f7f7f7 35%, rgba(0, 0, 0, 0) 60%),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("img/bg-new-appointment.jpg");
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgimage-4 {
    background: linear-gradient(70deg, #f7f7f7 35%, rgba(0, 0, 0, 0) 60%),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("img/records.jpg");
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.bgimage-5 {
    background: linear-gradient(70deg, #f7f7f7 35%, rgba(0, 0, 0, 0) 60%),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("img/records-new-bg.jpg");
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-appoint {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("img/bg-appointment.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.technologies-bg1 {
  background: #2c3333;
}

.dental-name {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  padding-left: 10px;
}

.header {
  font-size: 70px;
  color: #2666cf;
  font-family: 'Staatliches', cursive;
  margin-bottom: 20px;
  line-height: 70px;
}

.header-descripiton {
  color: #2c3333;
  margin-right: 150px;
  line-height: 25px;
  padding-bottom: 35px;
}

.title-text {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #2666cf;
}

.title-header {
  text-align: center;
  color: #2c3333;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-weight: 100;
  margin: 0;
}

.title-header-1 {
  color: #2c3333;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-weight: 100;
  margin: 0;
}

.title-top {
  color: #2666cf;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.card-title {
  font-weight: bold !important;
}

.header-1 {
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
  color: #2C3333;
  margin: 0;
  padding: 0;
}

.dc {
  font-weight: bold;
}

.title {
  text-align: center;
  color: #0d6efd;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}



.footer {
  background: #212529;
  color: white;

}
.footer .links ul {
  list-style-type: none;
  padding-left: 0;
}
.footer .links li a {
  color: white;
  transition: color 0.2s;
  text-decoration: none;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}



.testimonial-bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("img/bg-test.jpg");
}

.tech-icons {
  color: #0d6efd;
}

/* Contacts Row */

.contact {
  font-size: 14px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.about {
  font-family: "Roboto", sans-serif;
}

.fc-event {
  border: 1px solid #ff6600;
  background-color: #ff6600;
}

/*Services*/

.img-card {
  height: 200px;
  object-fit: cover;
}

.img-card2 {
  height: 400px;
  object-fit: cover;
}

/* NEW */

.logo-nav {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.bg-hero-home {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}